

<div class="row">

<div class="large-12 medium-12 small-12 columns roundbox outer">
<h2>What is BookBound?</h2>

<p>Though cellphones and social media allow us to communicate more frequently, we are saying less than ever. BookBound promotes meaningful conversation by helping users to connect over books. <br><br>

After signing in with Facebook, "Start a Book" to begin. Enter the title, ISBN, or author of an old favorite or the latest bestseller. Select what you want to read and then pick a reading partner. Pick a friend if you'd like to start a bookclub for two. Mystery lover? Pick a stranger with our "Read with a Rando" feature. BookBound's compatibility algorithm will help you find a perfect reading pal. <br><br>

Once your partner accepts your request, you're off! Start reading and remember to make notes every time you close your book. You can see and respond to your friend's notes, but not on pages ahead of your current reading location. Look ma, no spoilers! See all those notes some 20 pages ahead? Better catch up to your friend to get to the good stuff. <br><br>

A type of modern-day marginalia, BookBound's notes will provide a record of your literary thoughts and new friendships.</p>

<% if current_user.nil? %>
  <div class="centered">
    <a href="/auth/facebook" class="button radius">Sign in with Facebook</a>
  </div>
<% end %>
<br>

<h2>Our Story</h2>



<p>
BookBound is the brainchild of Sonja Peterson, Jay Hou, E-Lynn Yap, and Joe Calamia. We like books. Joe wanted to call the site <a href="http://en.wikipedia.org/wiki/Recto_and_verso">RectoVerso</a>, but absolutely everyone hated it (except Joe). Sonja illustrated the frogs below, named Recto and Verso (Verso is the cute one). Everyone loved it (except E-Lynn). <br> <br>

<a href="mailto:bookbounders@gmail.com">Let us know what you think!</a> About the frogs, that is. If you have comments about the site, we'll read those too.</p>

<br>
<div class="text-center">
<%= image_tag("froglogo3.png", :alt => "RectoVerso", :class => "centered") %>
</div>
<br>
Landing page photograph by <a href='https://www.flickr.com/people/69486442@N05/'>Angela (Angie) Accarrino</a>.


</div>

</div>
</div>
