<h1>Welcome to BookBound</h1>

<ol>
	<li>Find a partner</li>
	<li>Choose a book to read together</li>
	<li>Start taking notes together</li>
	<li>Read your partner's notes</li>
</ol>

<div id="user_nav">
	    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
	</div>