<div id="home">
<div id="hero">
  <h3>Read with anyone, anywhere</h3>
  <ol>
  <li><span class="num">1.</span> Pick a book</li>
	<li><span class="num">2.</span> Pick a friend</li>
	<li><span class="num">3.</span> Share your thoughts and progress with each other online as you read</li>
</ol>

<% if current_user.nil? %>
<div class="centered">
<a href="/auth/facebook" class="button radius">Sign in with Facebook</a>
</div>
<!-- 	<div id="social-wrap">
	    <a href="/auth/facebook"><button id="facebook">Sign in with Facebook</button></a>
	</div> -->
<% end %>
</div>

</div>
</div>