<h1>Welcome to BookBound</h1>

<ol>
	<li>Find a partner</li>
	<li>Choose a book to read together</li>
	<li>Start taking notes together</li>
	<li>Read your partner's notes</li>
</ol>

<% if current_user.nil? %>
	<div id="social-wrap">
	    <a href="/auth/facebook"><button id="facebook">Sign in with Facebook</button></a>
	</div>
<% end %>