<div id="home">
	<div class ="large-4 large-offset-6 medium-4 medium-offset-6 small-12 columns roundbox outer" id="hero">
	<h3>Read with anyone, anywhere</h3>
		<ol>
			<li><span class="num">1.</span> Pick a book</li>
			<li><span class="num">2.</span> Pick a friend</li>
			<li><span class="num">3.</span> Share your thoughts and progress with each other online as you read</li>
		</ol>

		<% if current_user.nil? %>
			<div class="centered">
				<a href="/auth/facebook" class="button radius">Sign in with Facebook</a>
			</div>
		<% end %>
	</div>
</div>