<div class="row show-for-medium-up">
    <div class="large-12 small-12 columns extraspace">
<ul class="button-group radius even-2">
  <li><%= link_to "Timeline", @group, :class => "button" %></li>
  <li><%= link_to "List", groups_list_path(@group), :class => "button", :id => "active" %></li>
</ul>
</div>
</div>