<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
   <h1>Do you even read?</h1>
   <p>One of your friends is wondering if you read.</p>
   <p>Join <a href="http://31.media.tumblr.com/9d352c13f6090a977102de2b3d5f4218/tumblr_mq6rd031k61syf5nbo1_500.gif">Bookbound</a> today and prove them wrong.</p>
   <p>Best,</p>
   <p>Recto & Verso</p>
  </body>
</html>