.notice {
  background-color: #8CC63F;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

.thumbnail {
  border-radius: 10px;
  margin: 10px;
}

#logo {
left: -10px;
}

#home {
background: url(bookbench.jpg) no-repeat;
background-size: cover;
height: 100%;
width: 100%;
overflow: hidden;
top: -110px;
position: relative;
}

#hero {
  position: relative;
  background-color: white;
  border-radius: 10px;
  left: 55%;
  top: 20%;
  padding: 20px;
  width: 30%;
}

#hero h3 {
    text-align: center;
}

#hero ol {
  font-size: 1.75em;
  list-style-type: none;
  line-height: 1.3;
}

h1, h2, h3 {
  text-transform: uppercase;
  padding: 0px;
  margin: 0px;
}

.centered {
  text-align: center;
  margin: 0 auto;
}

.num {
  position: relative;
  top: .1em;
  padding-right: .1em;
  font-size: 1.5em;
}

.button {
  text-transform: uppercase;
  vertical-align: middle;
}