/*div:not(.row) {
  background-color: white;
  border-radius: 10px;
}*/

/*.columns {
  background-color: white;
  border-radius: 10px;
}*/

body {
  background-color: #EAEAEA;
}

div.grayback {
  background-color: #EAEAEA;
}

.roundbox {
    border-radius: 10px;
}

.roundbox.outer {
  margin-top: 1em;
  padding: 1em;
  background-color: white;
}

.roundbox.outer.last {
  margin-bottom: 1em;
}

.notice {
  background-color: #8CC63F;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

.thumbnail {
  border-radius: 10px;
  margin: 10px;
}

#logo {
left: -10px;
}

#home {
background: url(bookbench.jpg) no-repeat;
background-size: cover;
height: 100%;
width: 100%;
overflow: hidden;
top: -110px;
position: relative;
}

#hero {
  position: relative;
  background-color: white;
  border-radius: 10px;
  left: 55%;
  top: 20%;
  padding: 20px;
  width: 30%;
}

#hero h3 {
    text-align: center;
}

#hero ol {
  font-size: 1.75em;
  list-style-type: none;
  line-height: 1.3;
}

h1, h2, h3 {
  text-transform: uppercase;
  padding: 0px;
  margin: 0px;
}

.centered {
  text-align: center;
  margin: 0 auto;
}

.num {
  position: relative;
  top: .1em;
  padding-right: .1em;
  font-size: 1.5em;
}

.button {
  text-transform: uppercase;
  vertical-align: middle;
}

.nobutton {
  background-color: red;
  height: 2em;
  width: 2em;
  border-radius: 1em;
  font-size: 1.2em;
  border: none;
  color: white;
  font-family: Arial;
  text-align: center;
}

.yesbutton {
 background-color: green;
  height: 2em;
  width: 2em;
  border-radius: 1em;
  font-size: 1.2em;
  border: none;
  color: white;
  font-family: Arial;
  text-align: center;
}

.buttonlist {
list-style-type: none;
margin: 0 auto;
li {
  display: inline-block;
  padding-right: 3px;
  }
}

.bookimage {
  width: 80px;
  max-height: 200px;
}

.booklist {
  height: 200px;
  padding: 1em;
}

.clickable:hover, .clickable:hover > div, .clickable:hover > div > div {
  cursor: pointer;
  background-color: #D8B2BA;
}

.roundbox.outer.clear {
  background-color: #EAEAEA;
}

.extraspace {
  margin-top: 1em;
  margin-bottom: 1em;
}
