<div id="footer" class="show-for-medium-up">

	<ul class="bookbound-links">
		<li>
			<a href="/about">About</a>
		</li>
		<li>
			<a href="/invite">Invite a Friend</a>
		</li>
	</ul>

	<ul class="social-links">
		<li><a href="http://www.twitter.com/bookbounders" class="twitter" target="_blank"><img src="/assets/twitter.png" class="social-icon"></a></li>
		<li><a href="http://www.facebook.com/bookbounders" class="facebook" target="_blank"><img src="/assets/facebook.png" class="social-icon"></a></li>
		<li><a href="mailto:bookbounders@gmail.com" target="_blank" class="email" target="_blank"><img src="/assets/email.png" class="social-icon"></a></li>
	</ul>
</div>